<section>
    <div class="parallax" id="trans2">
    <div class="caption" id="contact">
     <div class="banner_content text-center">
                           <h2>Contact Me</h2>
                       </div>
     </div>
   </div>
   
           </section>
           <section class="contact_area p_70">
               <div class="container">
                   <div class="row">
                       <div class="col-lg-3">
                           <div class="contact_info">
                               <div class="info_item">
                                   <i class="lnr lnr-envelope"></i>
                                   <div><a href="mailto:contactus@nils-photography.com" style="color:rgb(0, 89, 255); font-size: 13px">contactus@nils-photography.com</a></div>
                                   <div><a href="mailto:admin@nils-photography.com" style="color:rgb(0, 89, 255); font-size: 13px">admin@nils-photography.com</a></div>
                                   <p>Send me your query anytime!</p>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-9 ">
                           <div class="row contact_form"  id="contactForm" >
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" [(ngModel)]="query.name">
                                   </div>
                                   <div class="form-group">
                                       <input type="text" class="form-control" id="mobile" (keyup)="phoneValidation($event)" name="contactNumber" placeholder="Enter your contact number (10 digit only)" [(ngModel)]="query.mobile">
                                   </div>
                                   <div class="form-group">
                                       <input type="email" class="form-control" id="email" (keyup)="emailValidation($event)" name="email" placeholder="Enter email address" [(ngModel)]="query.email" >
            
                                   </div>
                               </div>
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <textarea class="form-control" name="message" id="message" rows="1" placeholder="Enter Message" [(ngModel)]="query.message"></textarea>
                                   </div>
                               </div>
                               <div class="col-md-12 text-right">
                                   <button type="" value="submit" class="btn theme_btn button_hover" (click)="submitQuery()">Send Message</button>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </section>