.contact_form .form-group {
    margin-bottom: 10px;
  }
  
  .contact_form .form-group .form-control {
    font-size: 13px;
    line-height: 26px;
    color: #999;
    border: 1px solid #eeeeee;
    font-family: "Poppins", sans-serif;
    border-radius: 0px;
    padding-left: 20px;
  }
  
  .contact_form .form-group .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
  
  .contact_form .form-group .form-control.placeholder {
    color: #999;
  }
  
  .contact_form .form-group .form-control:-moz-placeholder {
    color: #999;
  }
  
  .contact_form .form-group .form-control::-moz-placeholder {
    color: #999;
  }
  
  .contact_form .form-group .form-control::-webkit-input-placeholder {
    color: #999;
  }
  
  .contact_form .form-group textarea.form-control {
    height: 140px;
  }
  
  .contact_form .theme_btn {
    margin-top: 20px;
    cursor: pointer;
  }

  .text-error{
      border-color: red !important; 
  }