<section class="home_banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div id="COVER_HEADER" class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="background: no-repeat scroll center center; background-image: url('http://service.nils-photography.com/img/banner/home-banner.jpg')"></div>
        <div class="container">
            <div class="banner_content text-center">
                    
                <p>I'm a Photographer, Cinematographer and Youtuber. I love to create short B-Roll sequence on anything. Canon and DJI!! Woooooo my favourite.
                    </p>
                
                <h1 style="float: right; margin-bottom: 10px;"> <img src="http://service.nils-photography.com/img/signature.png?rev=001"/></h1>
                
            </div>
        </div>
    </div>
</section>